.product-item:hover .reactions-wrap {
  display: flex;
}

.reactions-wrap {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.drawer-wrap {
  top: 0;
  right: 0;

  /* temporal */
  transform: translate(100%, 0);
  transition: all cubic-bezier(0.18, 0.89, 0.32, 1.28) 400ms;
}

.drawer-wrap-open {
  transform: translate(0, 0);
}